@font-face {
    font-family: Aller;
    src: url(font/Aller/Aller_Rg.ttf);
}

@font-face {
    font-family: AllerLt;
    src: url(font/Aller/Aller_Lt.ttf);
}

@font-face {
    font-family: MontserratBlack;
    src: url(font/montserrat/Montserrat-Black.otf);
}

@font-face {
    font-family: MontserratHairline;
    src: url(font/montserrat/Montserrat-Light.otf);
}

body {
	font-family: "Aller", Arial, sans-serif;
	font-size: 16px;
	height: 100%;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #263238;
	z-index: 9999;
}

.nav-menu {
	margin-left: 50px;
}

.nav-menu p {
	display: inline-block;
	padding: 15px 30px 15px 0;
	color: #ECEFF1;
	text-transform: uppercase;
	font-family: "AllerLt";
	cursor: pointer;
	transition: opacity .2s;
}

.nav-menu p:hover {
	opacity: .5;
}

.nav-conferences {
	padding: 15px 0;
	margin: -75px 50px 0 0;
	float: right;
	color: #ECEFF1;
	text-transform: uppercase;
	font-family: "AllerLt";
}

.nav-conferences span {
	display: inline-block;
	padding: 2px 10px;
	border-radius: 100%;
	color: #ECEFF1;
	transition: background .2s;
	cursor: pointer;
}

.nav-conferences a:nth-of-type(1) span:hover {
	background: #bc2424;
}

.nav-conferences a:nth-of-type(2) span:hover {
	background: #dd442a;
}

.nav-conferences a:nth-of-type(3) span:hover {
	background: #e3a119;
}

.nav-conferences a:nth-of-type(4) span:hover {
	background: #3c7c3c;
}

.nav-conferences a:nth-of-type(5) span:hover {
	background: #2a7884;
}

.nav-conferences a:nth-of-type(6) span:hover {
	background: #175b66;
}

.section-transition {
	width: 100%;
	height: 200px;
}


.container {
	position: relative;
	height: 100%;
	margin: 0 auto;
}

.content {
	width: 900px;
	display: flex;
	flex-flow: row wrap;
}

.content-reverse .circle img {
	left: none;
	right: 10%;
}

.content-reverse .info {
	left: 10%;
	right: 0;
}

.col-md-5 {
	position: static;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.home-title {
	text-transform: uppercase;
	font-family: "Aller";
	line-height: 2rem;
	padding: 50px 0;
	margin: 165px 350px 0;
	text-align: center;
	color: white;	
}

.home-title span {
	font-size: 3.7rem;
}

.description-title {
	text-transform: uppercase;
	font-family: "Aller";
	line-height: 2rem;
	font-size: 2.05rem;
	text-align: center;
	margin-top: 200px;
}

.description-title span {
	font-size: 3rem;
}

.description-info {
	color: white;
}

.description-info p:first-child {
	padding-top: 100px;
}

.description-info ul {
	padding-bottom: 100px;
}

.line {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
}


.info {
	max-width: 600px;
	color: #fcfcfc;
	padding-left: 30px;
}

.circle {
	padding: 0 30px;
}

.conference-section:nth-of-type(even) .circle {
	order: 2;
}

.circle img {
	
}

.conference-section {
	margin-top: -10px;
	position: relative;
}

.conference-section:first-of-type {
	margin-top: 50px;
}

.conference-date {
	font-family: "MontserratBlack", Arial, sans-serif;
	font-size: 4rem;
	text-transform: uppercase;
}

.svg-circle {
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
}

.svg-circle circle:nth-of-type(1) {
	fill: #bc2424;
	opacity: .9;
}

.svg-circle circle:nth-of-type(2) {
	fill: #1f747f;
	opacity: .9;
}

.svg-circle circle:nth-of-type(3) {
	fill: #50b858;
	opacity: .9;
}

.svg-text {
	font-family: "MontserratBlack", Arial, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	fill: black;
	text-transform: uppercase;
}

.text-crop {
	clip-path: url(#clipping);
	fill: white;
}

.conference-number {
	font-family: "MontserratHairline";
	font-size: 1.2rem;

	text-transform: uppercase;
	margin-top: -15px;
}

.conference-title {
	margin-top: 50px;
}

.conference-description {
	font-family: "AllerLt", Arial, sans-serif;
}

.conference-panelist {
	font-family: "AllerLt", Arial, sans-serif;
	line-height: 1rem;
	position: relative;
}

.conference-panelist span {
	font-family: "Aller", Arial, sans-serif;
}

.conference-panelist img,
.panelist-photo {
	width: 40px;
	border-radius: 100%;
	margin-right: 5px;
	margin-bottom: 15px;
	margin-top: -5px;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

.conference-panelist p {
	position: absolute;
	top: 0;
	left: 50px;
}

.schedule-title {
	font-family: "MontserratBlack", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 50px;
}

.schedule-date,
.schedule-hour span {
	font-family: "MontserratBlack", Arial, sans-serif;
	font-size: 1.3rem;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.schedule-hour span {
	display: block;
}

.schedule-hour{
	text-align: center;
	font-size: 1.1rem;
}

.place-address {
	text-align: center;
}

.date-title {
	margin-bottom: 40px;
	font-size: 1.1rem;
}

.realizador-title {
	font-family: "MontserratBlack";
	text-align: center;
	text-transform: uppercase;
	margin-top: 50px;
}

.realizador-images {
	text-align: center;
	padding: 0px 0 50px 0;
}

.realizador-images img {
	max-height: 100px;
	margin: 50px;
}

.mapa {
	border-radius: 50%;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 20px;
}


/*
-------------------------------------------------------
	SECTIONS CONFIGS
-------------------------------------------------------
*/

#home {	
	height: 600px;
	background: linear-gradient(to top right, #f7493d, #5c6bc0);
}

#place,
.transition-to-place {
	background-color: #685F5D;
	color: #fcfcfc;
}

.transition-to-place path {
	fill: #fcfcfc;
}

#description {
	background: linear-gradient(to right, #6F7071, #868686);
	margin-top: 0px;
}

#schedule {
	background-color: #fcfcfc;
	color: #263238;
	
}

.schedule-left {
	text-align: right;
}

.transition-to-schedule {
	background: linear-gradient(to right, #6F7071, #868686);
}

.transition-to-schedule path {
	fill:  #fcfcfc;
}

.transition-to-1 path {
	fill: #685F5D;
}

#conference-1,
.transition-to-1,
.transition-to-2{
	background: linear-gradient(to right, #bc2424, #f7493d);
}

#conference-2 {
	background: linear-gradient(to right, #e3a119, #ffd845);
}

#conference-3,
.transition-to-3,
.transition-to-4 {
	background: linear-gradient(to right, #bf6330, #f97f3d);
}

#conference-4 {
	background: linear-gradient(to right, #3c7c3c, #50b858);
}

#conference-5,
.transition-to-5,
.transition-to-6 {
	background: linear-gradient(to right, #2a7884, #3ca7aa);
}

#conference-6 {
	background: linear-gradient(to right, #4d5995, #5c6bc0);
}


/*
-------------------------------------------------------
	MEDIA CONFIGS
-------------------------------------------------------
*/

@media (max-width: 1199px) {
	.circle {
		padding-bottom: 50px;
	}
}